
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.light {
    background-color: #FFFFFF;
    color: #242424;
  }

  body {
    font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .light .bottom {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    flex-basis: 20%;
    margin: .5rem .5rem;
    padding: 0.5rem 1rem;
    flex-direction: column;
    border-radius: 12px;
    background-color: rgba(214, 214, 214, 0.692);
    font-size: 0.7rem;
}
.light .bottomSmall{
  color: #242424;
}
  
