
/* The switch - the box around the slider */
.switch {
    margin: 10 10;
    position: relative;
    display: inline-block;
    width: 35px;
    height: 22px;
    color: transparent;
    margin: 0 0.5rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    
    
  }
  #themeicon{
    height: 20px;
    opacity: 0.4;
    margin-left: -0.2rem;
    margin-top: 0.2rem;
  }
  
  .ThemeToggle {
    display: flex;
    flex-direction: row;
    width: 100vw;
  }
  .toggleText {
  display: flex;
  flex-direction: row;
  }
  
  /* The slider */
  .slider {
   
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 5px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #f36c1e;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #f36c1e;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 26px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  